:host {
  display: block;
  height: inherit;
  width: inherit;
}

// .logo {
//   overflow: hidden;
//   animation: typing 0.8s steps(40, end);
//   font-size: 14px;
//   display: block;
//   margin-bottom: 2rem;
//   cursor: pointer;

//   font-family: 'Lucida Console';
//   line-height: 14px;
//   font-size: 14px;
//   display: inline-block;
// }
