<!-- <my-projects-nx-shared-ui-crt>
  <div>
    <span class="logo"
      >┏━━━┓━━━━━━━━━┏┓━━━━━━━━━━━━━━┓━━━━━━━━┏┓━━━━━━━━━━━━━━━━━━━━━━┓━━━┓━━━┓━━━┓<br />┃┏━┓┃━━━━━━━━━┛┗┓━━━━━━━━━━┏━┓┃━━━━━━━━┃┃━━━━━━━━━━━━━━━━━━━┏━┓┃┏━┓┃┏━┓┃┏━┓┃<br />┃┃━┃┃┓┏┓━━┓━━┓┓┏┛┓━━┓━┓━━━━┗━┛┃━━┓━━┓━━┛┃━━┓┓┏┓┓━━━┓━━┓━┓━━━┛┏┛┃┃━┃┃┃━┃┃┃━┃┃<br />┃┃━┃┃┃┃┃┏┓┃━━┫┃┃━┫┏┓┃┏┓┓━━━┏┓┏┛━┓┃━┏┓┓┏┓┃┏┓┃┗┛┃┫━━┃┃┏┓┃┏┛━━━┓┗┓┃┃━┃┃┃━┃┃┃━┃┃<br />┃┗━┛┃┗┛┃┃━┫━━┃┃┗┓┃┗┛┃┃┃┃━━━┃┃┗┓┗┛┗┓┃┃┃┗┛┃┗┛┃┃┃┃┃┃━━┫┃━┫┃━━━━┗━┛┃┗━┛┃┗━┛┃┗━┛┃<br />┗━━┓┃━━┛━━┛━━┛┗━┛┛━━┛┛┗┛━━━┛┗━┛━━━┛┛┗┛━━┛━━┛┻┻┛┛━━━┛━━┛┛━━━━━━━┛━━━┛━━━┛━━━┛<br />━━━┗┛━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br
    /></span>
    <span class="logo logo--small"
      >┏━━━┓━━━┓━━━┓━━━┓━━━┓━━━┓<br />┃┏━┓┃┏━┓┃┏━┓┃┏━┓┃┏━┓┃┏━┓┃<br />┃┃━┃┃┗━┛┃┛┏┛┃┃━┃┃┃━┃┃┃━┃┃<br />┃┃━┃┃┏┓┏┛┓┗┓┃┃━┃┃┃━┃┃┃━┃┃<br />┃┗━┛┃┃┃┗┓┗━┛┃┗━┛┃┗━┛┃┗━┛┃<br />┗━━┓┃┛┗━┛━━━┛━━━┛━━━┛━━━┛<br />━━━┗┛━━━━━━━━━━━━━━━━━━━━<br />━━━━━━━━━━━━━━━━━━━━━━━━━<br
    /></span>
  </div>
  <router-outlet></router-outlet>
</my-projects-nx-shared-ui-crt> -->
